* {
    padding: 0;
    margin: 0;
}

/* html,
body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100% !important;
} */

.primary-color {
    background-color: #292c29;
}

.secundary-color {
    background-color: black;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .expand-height {
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .expand-height {
        height: auto;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .expand-height {
        height: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .expand-height {
        height: 100vh;
    }
}